.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(#000, 0.5);


    &__container {
        padding: 40px 25px 30px;
        width: 100%;
        max-height: 90%;
        overflow-y: auto;
        max-width: 500px;
        background: #ffffff;
        border-radius: 5px;
        position: relative;
    }

    &__form-container {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__text {
        word-break: break-all;
    }

    &__label-title {
        font-size: 20px;
        font-weight: 600;
    }

    &__title-control {
        display: flex;
        column-gap: 10px;
    }

    &__title-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
         &:hover { opacity: 0.6;}
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    } 
    
    &__input {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        font-size: 14px;
    }

    &__btn {
		padding: 10px 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: #97969B;
		border-radius: 5px;
		column-gap: 10px;

		&:hover {
			opacity: 0.6;
		}
    }

    &__label-checkname {
        width: 100%;
        column-gap: 10px;
        display: flex;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__delete-btn {
		position: absolute;
		right: -10px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		display: none;
		transition: all 0.1s;

		& > svg {
			z-index: -1;

			@media (max-width: 460px) {
				transform: scale(0.7);
			}
		}

		&:hover {
			& > svg path {
				transition: all 0.1s;
				fill: #CCCFE2;
			}
		}
	}
}